<%= form_with(model: @character_wizard, method: :get) do |form| %>
  <h5><%= form.label "Zalety postaci postaci:", class: 'form-label' %></h5>
  <div class="form-check">
    <%= form.check_box :benefit_first, class: "form-check-input", onchange: "handleChange();", id: "checkbox-one"%>
    <label class="form-check-label" for="flexCheckDefault">
      <%= @benefits[0].name %>
    </label>
  </div>
  <div class="form-check">
    <%= form.check_box :benefit_second, class: "form-check-input", onchange: "handleChange();", id: "checkbox-two" %>
    <label class="form-check-label" for="flexCheckDefault">
      <%= @benefits[1].name %>
    </label>
  </div>
  <div class="form-check">
    <%= form.check_box :benefit_third, class: "form-check-input", onchange: "handleChange();", id: "checkbox-three"%>
    <label class="form-check-label" for="flexCheckDefault">
      <%= @benefits[2].name %>
    </label>
  </div>

<%end %>

<script>
    function handleChange() {

        let box_first = document.getElementById("checkbox-one");
        let box_second = document.getElementById("checkbox-two");
        let box_third = document.getElementById("checkbox-three");

        if(box_first.checked == true && box_second.checked == true) {
            document.getElementById("checkbox-three").setAttribute("disabled", "disabled");
        }
        else if(box_first.checked == true && box_third.checked == true){
            document.getElementById("checkbox-two").setAttribute("disabled", "disabled");
        }
        else if(box_second.checked == true && box_third.checked == true){
            document.getElementById("checkbox-one").setAttribute("disabled", "disabled");
        }
        else
        {
            document.getElementById("checkbox-one").removeAttribute("disabled");
            document.getElementById("checkbox-two").removeAttribute("disabled");
            document.getElementById("checkbox-three").removeAttribute("disabled");
        }
    }
</script>

