<div class="container py-4">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="py-5 text-center">
      <h2>Zalety postaci</h2>
    </div>
    <%= form_with(model: @character_wizard, url: character_wizard_path) do |form| %>
      <% @choices_names.map do |choice_names|%>
        <%= "Wybierz umiejętność" %>
      <div class="col-sm-6">
        <%= form.select(choice_names, options_for_select(choice_names, :name),{ prompt: "Wybierz umiejętność"}, { :class => "form-select", remote: true }) %>
      </div>
      <% end %>


      <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
        <%= form.submit "Dalej", class:'btn btn-purple'%>
      </div>

    <%end %>

  </div>

</div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; Sonia Leszkiewicz 2022</p>
</footer>
<%= @choices_names.map {|p| p} %>