<!DOCTYPE html>
<html>
  <head>
    <title>MidguardCharacters</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <nav class="navbar navbar-expand navbar-dark bg-purple" aria-label="Second navbar example">
      <div class="container-fluid">
        <%= link_to 'Midguard - kreator postaci', root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </head>

  <body>
    <%= yield %>
    <%= yield :javascripts %>
  </body>
</html>
